table#block-position,
table#footer-position {
    border: 2px solid gray;
}

table#block-position td,
table#footer-position td {
    border: 1px dotted #cfcfcf;
    text-align: center;
    vertical-align: top;
}

table#block-position td>label,
table#footer-position td>label {
    margin: 6px auto;
    font-size: 97%;
}

.color-picker {
    width: 80%;
    display: inline-block;
}

.block_side {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    margin: 0px;
    padding: 4px;
}

.visible_block {
    color: rgb(255, 255, 255);
    padding: 4px;
    text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;
    font-size: 99%;
    margin: 3px;
    opacity: 1;
    background: #6f93c2 url('../images/blue.gif');
    border-radius: 5px;
}

.invisible_block {
    color: rgb(71, 71, 71);
    padding: 4px;
    text-shadow:
    1px  1px 2px white,
    1px -1px 2px white,
   -1px  1px 2px white,
   -1px -1px 2px white;
    font-size: 99%;
    margin: 3px;
    opacity: 0.6;
    background: none;
    border-radius: 5px;
}

.tooltip-inner {
    font-family: 'Microsoft JhengHei';
    background-color: #3f0713;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #3f0713 !important;
}

.side-highlight{
    background: yellow;
    border: 1px dashed #3f0713;
    border-radius: 5px;
    height:30px;
}

.droppable{
    min-height: 30px;
}

.visible_block>.bt-tag{
    font-size: 97%;
    color:yellow;
}

.invisible_block>.bt-tag{
    font-size: 97%;
    color:rgb(95, 48, 204);
}

#help{
    color: rgb(129, 9, 49);
    font-size: 99%;
    margin: 10px 0px;
}