.embed-responsive-210by297 {
    padding-bottom: 141.42%;
}

.embed-responsive-297by210 {
    padding-bottom: 70.70%;
}

.ratio-210by297 {
    padding-bottom: 141.42%;
}

.ratio-297by210 {
    padding-bottom: 70.70%;
}